h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    padding: 5px 0;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    background: $color1;
    color: $white;
}


input {
    text-align: center;
    border: 3px solid $color1;
    border-radius: 5px;
    min-width: 50%;
    padding: 5px 0;
    transition: 0.3s;
    font-weight: 700;
    margin-bottom: 20px;

    &:focus {
        outline: none;
        border: 3px solid $color2;
    }

    &::placeholder {
        font-weight: 700;
    }
}